<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Grade</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Grade</h1>
	<div class="container">
		<form th:object="${grade}" th:action="@{../savegrade}" action="#"
			method="post">
			
			<input type="hidden" id="subjectid" th:field="*{subject.id}" />
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" id="name" class="form-control" th:field="*{name}" />
			</div>
			<div class="form-group">
				<label for="value">Value</label>
				<input type="text" id="name" class="form-control" th:field="*{value}" />
			</div>
			<div class="form-group">
				<label for="weight">Weight</label>
				<input type="text" id="weight" class="form-control" th:field="*{weight}" />
			</div>
			<input type="submit" class="btn btn-primary" value="Save" />
		</form>
	</div>
</body>
</html>