<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Subjects</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
			th:href="@{css/bootstrap.min.css}" />
	</head>
	<body>
		<div class="col-md-4">
			<h1>Subjects</h1>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>N° Grades</th>
				<th>Average</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="subject : ${subjects}">
				<td th:text="${subject.name}">Name...</td>
				<td th:text="${#lists.size(subject.grades)}">N° Grades...</td>
				<td th:text="${subject.average}">Average...</td>
				<td><a class="btn btn-danger"
					th:href="@{/delete/{id}(id=${subject.id})}">Delete</a></td>
				<td><a class="btn btn-warning"
					th:href="@{/editsubject/{id}(id=${subject.id})}">Edit</a></td>
			</tr>
		</table>
		<a href="/addsubject" class="btn btn-success">Add Subject</a>
	</body>
</html>